{% extends "layout.html"%}

{%block body%}
<div align="center">

Edit Profile Here
<form method="POST" action= "{{ url_for('edit_profile') }}"  enctype="multipart/form-data"> 
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <br>
    Profile picture 
    <br>
<input type = "file" name = "img" onchange="loadFile(event)">
<br><br>
<input type="submit" name="sub" value="Update Profile Picture">
<br>
    
    <br>
    Username <br>
    <input type="text" name = "username"  placeholder = "{{inf.username}}"  >
    <br>
    <br>
  

    <input onchange="loadFile(event)" type="submit"  name="sub" value="Update Username" >
</form>
</div>
{%endblock%}