{% extends "layout.html"%}

{%block body%}

Log in Here


<form method="POST" action=  "/">

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        {{hcaptcha}}

        <input name="email" placeholder="Email" type="email">

<br>
<br>

        <input name="passcode"  placeholder="Password" type="password">

        
        <br>


        <button type="submit" class="btn btn-primary btn-block">Log In</button>
    
</form>
<br>



<div>

        
        <a    href="{{ url_for('register') }}"><button>Sign Up </button> </a>  
 <br>
 <br>
        Forgot Password?
        
        <br>
        <br>
        <a    href="{{ url_for('reset_pass') }}"><button>Request New Password </button> </a>
    </div>

{%endblock%}