{% extends "layout.html"%}

{%block body%}


<h2>
Posts Are Here
<div align="center">
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
          }
    </script>

</h2>

{% for x in arr%}
<img width = 30 width = 50 src = "{{x.imz}}">{{x.owner_name}}
<br>
{{ x.time }}
<br>
<img src = "{{x.ima}}">
<br>

<br>
{{ x.description }}
<br>
<h2>
    Link 
</h2>
{{ x.link }}
<br>
  
    <form name="view" method="POST" action="{{ url_for('feed') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="id" value="{{x.post_id}}" valuex="view">  
        <input type="submit" name="sub" value="View Link">
        <input type="submit" name="sub" value="Like">
        
    
        </form>
        
    <br>
    <br>
<hr>
{%endfor%}

 <br>
 <br>

{{ email }}

</div>
{%endblock%}