{% extends "layout.html"%}
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
      }
</script>

{%block body%}
<br>
{{dude}}

{{posts}}

{%for x in posts%}

{{x}}

<form name="view" method="POST" action="{{ url_for('my_post') }}">
    <input type="hidden" name="the_id" value="{{x.post_id}}" valuex="view">  
    <input type="submit" name="sub" value="Edit">
    <input type="submit" name="sub" value="Delete">
    <input type="submit" name="sub" value="Promote">


    </form>
<br>
<br>
{{posts}}


{%endfor%}

{%endblock%}