{% extends "layout.html"%}

{%block body%}

<div name="fullform" align ="center">
<form method="POST" action="{{ url_for('post') }}"  enctype="multipart/form-data" >

ThumbNail Or Clickbait
<br>
<input type = "file" name="thumb"  onchange="loadFile(event)" >

    <br>
    <br>

<input name="title" id="title" placeholder="Link Title" type="text">
    <br>
    <br>

<input name="link" id="link" placeholder="You Main Link" type ="url">
    <br>
    <br>
<br>
<textarea type="text" name="desc" id="inbox" placeholder="Problem Description" required="" rows=" 5" style="margin: 0px; width: 250px; height: 69px;"></textarea>

    <br>


            <legend>
                Tags(Help Your Link Reach Relevant People)
            </legend>
<input name="tag1" id="tag1" placeholder="First Tag" type="text">
            <br>
            <br>

<input name="tag2" id="tag2" placeholder="Second Tag" type="text">
            <br>
            <br>

        </fieldset>
        <br><br>

<button type="submit">POST</button>
          <br>
          <br>
</form>
</div>
{%endblock%}