{% extends "layout.html"%}

{%block body%}

<div align="center">     
<img src = "{{prof}}">

<div id = "prof"  align = "center">
</div>
</div>
<div align="center">
    
    {{usr.username}}
    <br>
    <br>
    {{usr.email}}
    <form name="view" method="POST" action="{{ url_for('view_prof') }}">
        <input type="hidden" name="id" value="{{usr.email}}" valuex="view">  
        <input type="submit" name="subz" value="{{state}}">
        </form>
    
<br>
<br>
    </div>


{{me}}
{%endblock%}