{% extends "layout.html"%}
{%block body%}

<div id="head" align = "center">
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
          }
    </script>
    {{to_do}}
    
<h3>


    {{ item.title}}
    <br>
    <br>


    <img src = "{{item.ima}}">
    <br>
    <br>

    <h2>
        Link Owner
    </h2> {{  item.owner }}
        <br>
        <br>
        Main Link <br> {{  item.link }}
        <br>
        <br>
        Description ::::> {{item.description}}
        <br>
        <br>
        {%for n in item.comments%}
        {% for key, value in n.items() %}
{{key}}
{{value}}
{%endfor%}
{%endfor%}


        
        <form name="view" method="POST" action="{{ url_for('view_link') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="hidden" name="id" value="{{item.post_id}}" valuex="view"> 
            <input type="text" name ="comm" placeholder = "Comment" > 
            <input type="submit" name="sub" value="Comment">
            <br>
            <br>
            <input type="submit" name="sub" value="View Profile">
            <input type="submit" name="sub" value="Save">
        
            </form>


 

    <h2> 
        More  Posts
    </h2>
    
    {%for y in taged%}
    <br>
    <br>
    {{y.owner}}
    <br>
    <br>
  
    {{y.description}}
    <br>
    <br>
    {{y.link}}
   
    <hr>
        {%endfor%}

</h3>

</div>



{%endblock%}